body {
  background-color: white !important;
}

.centered {
   position: absolute;
   left: 30%;
   top: 50%;
   width: 60%;
   transform: translate(-20%, -50%);
   background-color: #e8f3fc;
   
 }

.vertical-align-top {
  vertical-align: top;
}

.centered.heading {
  background-color: inherit;
}

.hori-centered {
  display: block;
  margin: 0 auto;
}

.hori-flex-centered {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.text-centered {
  text-align: center;
  display: block;
}
.head-slide {
  position: absolute;
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  left: -32px;
  top: -32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23c5e3fe' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  z-index: -1;
}
 .underline {
   text-decoration: underline;
 }
